.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.contact-form{
width:80%;
margin:50px auto;
}

.contact-form input{
  padding: 5px;
  width:50%;
 margin:10px 0 0;
 height:25px;
 font-size:20;
 border-radius:5px;
 border: 1px solid #9f9f9f;
}

.contact-form input[type="submit"]{
  padding: 5px;
  width:49.2%;
 margin:10px 0 0;
 height:35px;
 font-size:20;
 border-radius:5px;
 border: 1px solid #9f9f9f;
 background:#61dafb;
}

.submit-container{
  display: flex;
  justify-content: space-between;
  width: 51%;
  margin: 0 auto;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
